@font-face {
  font-family: "Bliss Pro";
  src: url("./../../fonts/BlissPro-ExtraLight.ttf");
}

/* Основные стили */
.text {
  max-width: 100%; /* Максимальная ширина для адаптации */
  margin: 0 auto; /* Автоматические отступы для центрирования */
  font-size: 50px;
  line-height: 58.59px;
  text-align: center;
  padding: 20px; /* Добавлен отступ для избежания прилипания к краям экрана */
}

.Photo {
  margin: 40px auto 0; /* Центрирование и отступ сверху */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Автоматическое размещение колонок */
  grid-gap: 24px;
  justify-content: center;
  align-items: center;
  width: 90%; /* Уменьшенная ширина и центрирование */
  max-width: 1200px; /* Максимальная ширина контейнера */
}

.photo {
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
}

.text1 {
  max-width: 90%; /* Адаптивная максимальная ширина */
  margin: 20px auto; /* Центрирование */
  font-size: 20px;
  line-height: 30px;
  text-align: justify; /* Выравнивание текста для лучшего чтения */
  padding: 0 20px; /* Отступы с боков */
}

.button {
  display: block; /* Сделать кнопку блочным элементом */
  margin: 20px auto; /* Центрирование кнопки */
  border-radius: 30px;
  padding: 20px 67px;
  font-size: 18px;
  background-color: #287828;
  color: #ffffff;
  cursor: pointer;
}

/* Медиа-запросы для улучшения адаптивности */
@media (max-width: 768px) {
  .text {
      font-size: 40px; /* Уменьшенный размер шрифта */
      line-height: 48px;
  }

  .text1 {
      font-size: 18px; /* Немного уменьшенный размер шрифта */
  }

  .button {
      padding: 15px 50px; /* Уменьшенные отступы */
      font-size: 16px; /* Уменьшенный размер шрифта кнопки */
  }
}

@media (max-width: 480px) {
  .text {
      font-size: 30px; /* Еще меньший размер шрифта для мобильных устройств */
      line-height: 36px;
  }

  .text1, .button {
      font-size: 14px; /* Минимально возможный размер шрифта для читаемости */
  }

  .button {
      padding: 10px 30px; /* Еще меньше отступов */
  }
}
