@font-face {
  font-family: "Bliss Pro";
  src: url("./../../fonts/BlissPro-ExtraLight.ttf");
}

.text, .text1 {
  max-width: 95%; /* Максимальная ширина текста */
  margin: 0 auto; /* Центрируем блоки */
  padding: 0 10px; /* Добавляем небольшой внутренний отступ с боков */
  font-size: calc(16px + (34 - 16) * ((100vw - 300px) / (1600 - 300))); /* Адаптивный размер шрифта */
  line-height: 1.4; /* Устанавливаем высоту строки */
  text-align: center;
  word-wrap: break-word; /* Перенос слов при достижении краев */
}

.text {
  font-size: calc(20px + (34 - 20) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold; /* Делаем текст жирным */
}

.text1 {
  font-size: calc(14px + (24 - 14) * ((100vw - 300px) / (1600 - 300))); /* Адаптивный размер шрифта */
  text-align: left; /* Выравнивание текста по левому краю */
}

.Photo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 10px; /* Уменьшаем промежуток между элементами сетки */
  justify-items: center;
  align-items: end;
}

.photo {
  overflow: hidden;
}

.photo img {
  width: 100%;
  height: auto;
}

.photo77 {
  grid-column: end;
  grid-row: span 2;
  align-self: stretch;
}

.photo11 { grid-column: 1; grid-row: 1; }
.photo22 { grid-column: 2; grid-row: 1; }
.photo33 { grid-column: 3; grid-row: 1; }
.photo44 { grid-column: 1; grid-row: 2; }
.photo55 { grid-column: 2; grid-row: 2; }
.photo66 { grid-column: 3; grid-row: 2; }
.photo77 { grid-column: 4; grid-row: span 2; }


.buttonWrapper {
  text-align: right; /* Изменено выравнивание кнопки по правому краю */
}

.button {
  color: #ffffff;
  width: auto;
  height: auto;
  border: none;
  margin-bottom: 120px;
  margin-left: 1190px;
  margin-right: 120px;
  border-radius: 30px; /* Значение может быть изменено в зависимости от желаемого радиуса */
  padding: 20px 67px ;
  font-size: 18px;
  cursor: pointer;
  background-color: #287828;
  }

  @media (max-width: 1400px) {
    .button {
      margin-left: auto; /* Центрируем кнопку по горизонтали */
      margin-right: auto; /* Центрируем кнопку по горизонтали */
      display: block; /* Блочное отображение для правильного центрирования */
    }
  }

@media (max-width: 768px) {
  .Photo {
    grid-template-columns: repeat(2, 1fr); /* Переключаем сетку на 2 колонки */
    grid-template-rows: repeat(4, auto); /* Определяем 4 строки для размещения всех фото */
    grid-gap: 10px; /* Устанавливаем меньший промежуток между фото */
  }

  /* Задаем каждой фотографии место в сетке */
  .photo11, .photo33, .photo55 { grid-column: 1; } /* Фото 1, 3 и 5 будут в первой колонке */
  .photo22, .photo44, .photo66 { grid-column: 2; } /* Фото 2, 4 и 6 будут во второй колонке */

  .photo11 { grid-row: 1; }
  .photo22 { grid-row: 1; }
  .photo33 { grid-row: 2; }
  .photo44 { grid-row: 2; }
  .photo55 { grid-row: 3; }
  .photo66 { grid-row: 3; }
  .photo77 {
    grid-column: 1 / -1; /* Фото 7 занимает всю ширину сетки */
    grid-row: 4; /* Фото 7 перемещается на четвертую строку */
  }

  .text {
    font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (768 - 300))); /* Меньший размер шрифта */
  }

  .text1 {
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (768 - 300))); /* Меньший размер шрифта */
  }

  /* Стили для кнопки на экранах шириной до 768 пикселей */
  .button {
    width: auto;
    margin: 20px 10px 20px 0; /* Обновлено для адаптивного отступа */
    float: right; /* Обновлено для выравнивания кнопки справа */
  }
}
/* Адаптивность для маленьких экранов, например мобильных телефонов */
@media (max-width: 480px) {
  .Photo {
    grid-template-columns: 1fr; /* Переключаем сетку на 1 колонку */
    grid-template-rows: repeat(7, auto); /* Определяем 7 строк для размещения всех фото */
  }

  /* Теперь у всех фотографий будет одинаковая ширина */
  .photo {
    grid-column: 1;
    grid-row: auto; /* Убираем фиксированное позиционирование для строк */
  }

  /* Фото 7 занимает две строки по высоте */
  .photo77 {
    grid-row: span 2;
  }

  .text, .text1, {
    font-size: 14px; /* Фиксированный размер шрифта на маленьких экранах */
  }
  
  /* Кнопка тоже должна быть адаптивной */
  .button {
    width: 100%;
    margin: 10px 0;
    float: none; /* Убираем обтекание */
  }
}
