.main-content {
    padding: 20px;
    background: #ffffff;
    margin: 100px; /* Adds a 200px margin on all sides */
}

.main-title {
    color: #000000;
    margin-bottom: 15px;
    font-size: 50px;
}

.main-description {
    margin-bottom: 50px;
    font-size: 30px;
}

.course {
    display: flex;
    align-items: flex-start; /* Ensures the photo and text align at their top */
    margin-bottom: 40px;
}

.photo-placeholder {
    background: #4caf50; /* Placeholder color, replace with actual photo if available */
    width: 600px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    margin-right: 100px; /* Increased margin to create a larger space */
}

.course-info {
    flex-grow: 1;
    position: relative; /* To allow absolute positioning of the button */
}

h2 {
    margin-top: 0;
    color: #000000; /* Dark green color for headings */
}

p {
    margin-bottom: 10px;
}

.button-container {
    position: absolute;
    right: 0; /* Aligns the button to the right */
    bottom: 0; /* Aligns the button to the bottom of the course-info container */
}

button {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left: auto; /* This will push the button to the right */
    display: block; /* To ensure margin-left auto has effect */
}

button:hover {
    background: #388e3c;
}
