@font-face {
    font-family: "Bliss Pro";
    src: url("./../../fonts/BlissPro-ExtraLight.ttf")
}

.text{
    width: 1101px;
    height: 59px;
    top: 120px;
    margin-left: 350px;
    font-size: 50px;
    line-height: 58.59px;
    text-align: center;
}

.Photo {
  position: absolute;
  width: 1200px;
  height: 420px;
  margin-top: 40px;
  margin-left: 120px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 3 колонки с равным размером */
  grid-gap: 10px; /* расстояние между изображениями */
}

.photo {
  position: relative;
  margin-right: 24px;
  margin-bottom: -50px;
  overflow: hidden;
}

.photo img {
  display: block;
  width: 100%; /* Изображение занимает всю доступную ширину родительского элемента */
  height: auto; /* Поддержка соотношения сторон */
}

.photo1 { grid-column: 1; grid-row: 1; }
.photo2 { grid-column: 2; grid-row: 1; }
.photo3 { grid-column: 3; grid-row: 1; }
.photo4 { grid-column: 1; grid-row: 2; }
.photo5 { grid-column: 2; grid-row: 2; }
.photo6 { grid-column: 3; grid-row: 2; }
.photo7 { grid-column: 4; grid-row: 1; }



