.r1{
    width: 282px;
    height: 378px;
    border-radius: 20px 0px 0px 0px;
    background: #287828;

}
.Photo1{
    width: 248px;
    height: 220px;
    top: 30px;
    left: 17px;
    gap: 0px;
    opacity: 0px;

}