@font-face {
    font-family: "Bliss Pro";
    src: url("./../../fonts/BlissPro-ExtraLight.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scroll */
}

.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0; /* Removing left and right padding */
    background: #287828;
    color: #F7F7F7;
    width: 100%;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img {
    width: 50px;
    height: auto;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: space-around; /* Even distribution around the logo */
    width: 100%;
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    gap: 20px;
}

.menu_link {
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

@media (max-width: 768px) {
    .Header {
        flex-direction: column;
        text-align: center;
    }

    .logo-container {
        margin-bottom: 10px; /* Space between logo and menu in mobile view */
    }

    .menu-list {
        flex-direction: column;
        gap: 10px;
    }
}
