@font-face {
    font-family: "Bliss Pro";
    src: url("./../../fonts/BlissPro-ExtraLight.ttf")
}

.Footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262726; /* Цвет фона вашего подвала */
    color: white; /* Цвет текста вашего подвала */
    text-align: center; /* Выравнивание содержимого по центру */
    padding: 0px; /* Отступы вокруг содержимого */
}
