@font-face {
    font-family: "Bliss Pro";
    src: url("./../../fonts/BlissPro-ExtraLight.ttf");
}

.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #262726;
    padding: 10px;
}

.adres .address-text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: left;
}

.telpot .telepot-text {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    padding-right: 10px;
    letter-spacing: 0.02em;
    text-decoration: none;
    text-align: right;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .Footer {
        flex-direction: column; /* Stack elements vertically */
        padding: 20px; /* Increase padding for better touch interaction */
        text-align: center; /* Center align the text for better aesthetics */
    }

    .adres, .telpot {
        margin-bottom: 10px; /* Add some space between the address and contact blocks */
    }

    .adres .address-text, .telpot .telepot-text {
        font-size: 16px; /* Reduce the font size for smaller screens */
        line-height: 20px; /* Adjust line height accordingly */
    }

    .telpot .telepot-text {
        padding-right: 0; /* Remove padding-right as it is no longer right-aligned */
    }
}
